{% extends '::dashboard.html.twig' %}

{% set subcategorias = obj.subcategorias %}
{% set etranslations = service_entity.entityTranslations(obj) %}
{% block title %}{{ parent() }} - {{ 'Ver información de categoría' | trans ~ '. ' ~ (app.request.locale == default_locale or not etrans_locale ? obj.nombre : etrans_locale.nombre) }}{% endblock %}
{% block plugins_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/select2/select2_metro.css') }}" />
    {% if subcategorias | length > 0 %}
        <link rel="stylesheet" href="{{ asset('plugins/data-tables/DT_bootstrap.css') }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}"/>
{% endblock %}
{% block plugins_javascript %}
    <script type="text/javascript" src="{{ asset('plugins/select2/select2.min.js') }}"></script>
    {% if subcategorias | length > 0 %}
        <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/data-tables/DT_bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/data-tables/lang/jquery-datatable.' ~ app.request.locale ~ '.js') }}"></script>
    {% endif %}
{% endblock %}
{% block level_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dashboard/view.js') }}"></script>
    {% if subcategorias | length > 0 %}
        <script src="{{ asset('js/dashboard/table-advanced.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}
{% block init_javascript %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            View.init();
            {% if subcategorias | length > 0 %}
                TableAdvanced.init();
            {% endif %}
        });
    </script>
{% endblock %}
{% block page_title %}{{ 'Categorías' | trans }} <small>{{ 'ver información' | trans }}</small>{% endblock %}
{% block breadcrumb_list %}
    {{ parent() }}
    <li>
        <i class="icon-tags"></i>
        <a href="{{ path('dashboard_categoria') }}">{{ 'Categorías' | trans }}</a>
        <span class="icon-angle-right"></span>
    </li>
    <li>
        <i class="icon-file"></i>
        {{ 'Ver información' | trans }}
    </li>
{% endblock %}

{% block level_content %}
    <div class="portlet box blue view-container" id="view-categoria">
        <div class="portlet-title">
            <div class="caption"><i class="icon-tags"></i>{{ 'Información de categoría' | trans }}</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
            <div class="actions">
                <a class="btn blue table-actions-new block-portlet" href="{{ path('dashboard_categoria') }}">
                    <i class="icon-list"></i> <span class="hidden-phone">{{ 'Regresar al listado' | trans }}</span>
                </a>
                <a class="btn blue table-actions-new block-portlet" href="{{ path('dashboard_categoria_editar', { 'id': obj.id }) }}">
                    <i class="icon-edit"></i> <span class="hidden-phone">{{ 'Editar' | trans }}</span>
                </a>
                <a class="btn blue table-actions-new view-btn-delete-object ajax-btn" href="{{ path('dashboard_categoria_eliminar', { 'id': obj.id }) }}">
                    <i class="icon-trash"></i> <span class="hidden-phone">{{ 'Eliminar' | trans }}</span>
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <div class="form-horizontal form-view">
                <h3 class="hidden-phone"> {{ 'Ver información de categoría' | trans ~ ' - ' ~ (app.request.locale == default_locale or not etrans_locale ? obj.nombre : etrans_locale.nombre) }} </h3>
                <!--BEGIN TABS-->
                <div class="tabbable tabbable-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tib" data-toggle="tab"><i class="icon-info-sign"></i> <span class="hidden-480">{{ 'Información básica' | trans }}</span></a></li>
                        {% if subcategorias | length > 0 %}
                            <li><a href="#tsc" data-toggle="tab"><i class="icon-tags"></i> <span class="hidden-480">{{ 'Subcategorías' | trans }}</span></a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tib">
                            <h4 class="form-section visible-phone hidden-tablet hidden-desktop">{{ 'Información básica' | trans }}</h4>
                            <div class="row-fluid">
                                <div class="span6 ">
                                    <div class="control-group">
                                        <label for="" class="control-label bold">
                                            {{ 'Seleccione el idioma' | trans }}
                                        </label>
                                        <div class="controls">
                                            <select class="span11 select2 select_translate" data-for="nombre_categoria,descripcion_categoria" data-placeholder="{{ 'Seleccione el idioma' | trans }}" tabindex="1">
                                                {% set selected_key = app.request.locale %}
                                                {% for key, idioma in idiomas %}
                                                    {% if key == default_locale or etranslations[key] is defined %}
                                                        {% set selected = false %}
                                                        {% if key == app.request.locale and etranslations[app.request.locale] is defined %}
                                                            {% set selected = true %}
                                                            {% set selected_key = app.request.locale %}
                                                        {% else %}
                                                            {% if key == default_locale %}
                                                                {% set selected = true %}
                                                                {% set selected_key = default_locale %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <option value="{{key}}" {% if selected %}selected="selected"{% endif %}>{{idioma}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <span class="help-block" style="display: inline-block;">{{ 'Vea el nombre y la descripción en diferentes idiomas' | trans }}</span>
                                        </div>
                                        <div class="control-group">
                                            <label for="" class="control-label bold">
                                                {{ 'Nombre de la categoría:' | trans }}
                                            </label>
                                            <div class="controls">
                                                {% for key,idioma in idiomas %}
                                                    <span class="text nombre_categoria" data-locale="{{ key }}" {% if selected_key != key %}style="display: none;"{% endif %}>
                                            {{ key == default_locale ? obj.nombre | default('-') : i18n[key]['nombre'] | default('-') }}
                                        </span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="" class="control-label bold">
                                                {{ 'Descripción de la categoría:' | trans }}
                                            </label>
                                            <div class="controls">
                                                {% for key,idioma in idiomas %}
                                                    <span class="text descripcion_categoria" data-locale="{{ key }}" {% if selected_key != key %}style="display: none;"{% endif %}>
                                                        {{ key == default_locale ? obj.descripcion | default('-') : i18n[key]['descripcion'] | default('-') }}
                                                    </span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="span6 ">
                                    <div class="control-group">
                                        <label for="" class="control-label bold">
                                            {{ 'Categoría padre:' | trans }}
                                        </label>
                                        <div class="controls">
                                            <span class="text">
                                                {% if obj.padre is not null %}
                                                    <a class="tooltips block-portlet" href="{{ path('dashboard_categoria_ver', { 'id': obj.padre.id }) }}" title="{{ 'Ver' | trans ~ ' ' ~ obj.padre }}">{{ obj.padre }}</a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="" class="control-label bold">
                                            {{ 'Imagen de categoría:' | trans }}
                                        </label>
                                        <div class="controls">
                                            <div class="text">
                                                <div class="thumbnail" style="width: 200px; height: 150px;">
                                                    {% if obj.imagen is null %}
                                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text={{ 'sin+imagen' | trans }}" alt="" />
                                                    {% else %}
                                                        <img src="{{ asset(image_upload_dir | slice(1) ~ 'categoria/' ~ obj.imagen) }}" alt="{{ obj.nombre }}" style="height: 150px;" />
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                        </div>
                        <div class="tab-pane" id="tsc">
                            <h4 class="form-section visible-phone hidden-tablet hidden-desktop">{{ 'Subcategorías' | trans }}</h4>
                            <table class="table table-bordered table-striped table-condensed table-hover table-full-width table-advanced" id="data-table-subcategoria">
                                <thead class="">
                                <tr>
                                    <th>{{ 'Nombre' | trans }}</th>
                                    <th class="hidden-phone">{{ 'Descripción' | trans }}</th>
                                    <th class="table-actions-cell"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sc in subcategorias %}
                                    <tr class="table-row">
                                        <td>{{ sc.nombre }}</td>
                                        <td class="hidden-phone">{{ sc.descripcion | length > 50 ? sc.descripcion | slice(0, 50) ~ '...' : sc.descripcion }}</td>
                                        <td class="" style="width: auto;">
                                            <div class="hidden-print">
                                                <a class="btn mini blue icn-only block-portlet" href="{{ path('dashboard_categoria_ver', { 'id': sc.id }) }}" title="{{ 'Ver' | trans }}"><i class="icon-file icon-white"></i></a>
                                                <a class="btn mini green icn-only block-portlet" href="{{ path('dashboard_categoria_editar', { 'id': sc.id }) }}" title="{{ 'Editar' | trans }}"><i class="icon-edit icon-white"></i></a>
                                                <a class="btn mini red icn-only table-btn-delete-row ajax-btn" href="{{ path('dashboard_categoria_eliminar', { 'id': sc.id }) }}" title="{{ 'Eliminar' | trans }}"><i class="icon-trash icon-white"></i></a>
                                                <input type="hidden" value="{{ loop.index }}" class="table-row-index" />
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--END TABS-->
                <div class="form-actions">
                    <a href="{{ path('dashboard_categoria') }}" class="btn purple-stripe block-portlet"><i class="icon-list"></i> <span class="hidden-phone">{{ 'Regresar al listado' | trans }}</span></a>
                    <a href="{{ path('dashboard_categoria_editar', { 'id': obj.id }) }}" class="btn green-stripe block-portlet"><i class="icon-edit"></i> <span class="hidden-phone">{{ 'Editar' | trans }}</span></a>
                    <a href="{{ path('dashboard_categoria_eliminar', { 'id': obj.id }) }}" class="btn red-stripe view-btn-delete-object ajax-btn"><i class="icon-trash"></i> <span class="hidden-phone">{{ 'Eliminar' | trans }}</span></a>
                </div>
            </div>
            <!-- END FORM-->
        </div>
    </div>
    <div class="confirm_delete hide" title="{{ 'Confirmación' | trans }}" data-for="data-table-subcategoria">
        <p><span class="icon icon-warning-sign"></span>
            {{ 'Está a punto de eliminar un elemento del listado.' | trans }}
            <br/>
            {{ '¿Desea continuar?' | trans }}
        </p>
    </div>
    <div class="confirm_delete hide" title="{{ 'Confirmación' | trans }}" data-for="view-categoria">
        <p><span class="icon icon-warning-sign"></span>
            {{ 'Está a punto de eliminar este elemento. Se perderán todos sus datos.' | trans }}
            <br/>
            {{ '¿Desea continuar?' | trans }}
        </p>
    </div>
{% endblock %}