{% extends '::base-frontend.html.twig' %}
{% block body %}
{#<div id="fb-root"></div>
<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
<br />

{% if app.user %}
    {{ app.user.username }} , {{ app.user.usuarioRolesString}}   
    <ul>
        <li><a href="{{ path('frontend_votaciones') }}">Votaciones</a></li>
        <li><a href="{{ path('frontend_perfil') }}">Mi Cuenta</a></li>
        <li><a href="{{ path('frontend_logout') }}">Salir</a></li>
     
    </ul>    
{% else %}
    <a href="{{ path('frontend_login') }}" >Login</a>
    <a href="{{ path('frontend_registro') }}" >Registro</a>
    {#<p>{{ facebook_login_button({'autologoutlink': true}) }}</p>#}
{#{% endif %}
    
 <br />
 <br />
 
 <h3>Categorías</h3>
 <br />
  <ul>
{% for categoria in categorias %}
    <li>{{ categoria.nombre }}</li>
{% endfor %} 
 </ul>
<br />
 <br />
 
 <h3>Eventos Mas Votados</h3>
 
 <br />
 <br />
 
 <ul>
 {% for evento in votados %}
         <li>
            <table width="1000" >
                <tr>
                    <td width="20%"><img src="{{ evento.imagenEvento }}" /></td>
                    <td width="20%">{{ evento.titulo }}</td>
                    <td width="20%" align="center">{{ evento.creador.nombre }}</td>
                    <td width="20%">{{ evento.createdAt | date('d/m/Y H:i') }}</td>  
                    <td><a href="{{ path('frontend_evento', {'id':evento.id}) }}">Ver/Votar</a></td>
                </tr>
            </table>        
        </li>
 {% endfor %}
 </ul> #}

<div id="cuerpo">
	<!-- Header -->
    <div class="header">
    <div id="slogan">YOU VOTE THE TOPS OF THE WORLD</div>
    <div id="login"><a href="{{ path('frontend_login') }}">Entrar</a></div>
    <div id="regist"><a href="{{ path('frontend_login') }}">Registrarse</a></div>
    <div class="limpia_float"></div>
    <div class="logo"><a href="{{ path('frontend_homepage') }}"></a></div>
    <div id="buscador">
       <div id="lupa"></div>
       <div id="area_busc"><input class="buscarR" name="" type="text" value="Buscar Rankings"/></div>
    </div>
    <div id="voting"><div id="crea">CREA TU VOTING</div></div>
    <div class="limpia_float"></div>
    </div><!-- Fin de Header -->
    
    <!-- Zona Promo -->
    <div id="zona_promo">
    	<div id="img_negocio"></div>
    	<div id="promocion">
        No dejes que un ordenador te diga cuales </br>son los mejores sitios de internet</br>
        <b>¡TÚ DECIDES CON TU Voting!</b>        
        </div>
        <a href="#"><div id="vota"> <div id="tvota">¡Vota!</div> </div></a>
        <a href="#"><div id="creaV"> <div id="tcreaV">Crea tu Voting</div> </div></a>
    	<a href="#"><div id="comparteV"> <div id="tcreaV">Comparte</div> </div></a>
        <div class="limpia_float"></div>        
    </div><!-- Fin Zona Promo -->
    
    <!-- Zona Pestañas -->
    <div id="contenido">
        <div id="pestannas">
    		<div id="pest_home">Home</div>
            <a href="#"><div id="pest_masV">¡Más Voting!</div></a>
            <a href="#"><div id="pest_loultimo">Lo Último</div></a>
            <a href="#"><div id="pest_categ">Categorías</div></a>
            <div class="barra_pest" id="barra_home"></div>
        </div>
        <div id="cuerpo_cont">
        	<div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: ThebestwebDesign</div> </div>
            <div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: USUARIOS 2</div> </div>
            <div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: USUARIOS 3</div> </div>
            <div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: USUARIOS 4</div> </div>
            <div id="design">DESIGN TEEMSTUDIOS.COM 2014</div>
            <div class="limpia_float"></div>  
        </div>
    	     
    </div><!-- Fin Zona Pestañas -->
</div><!-- fin de cuerpo -->

 {% endblock %}