{% extends '::dashboard.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Listado de usuarios' | trans }}{% endblock %}
{% block plugins_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/select2/select2_metro.css') }}" />
    <link rel="stylesheet" href="{{ asset('plugins/data-tables/DT_bootstrap.css') }}" />
{% endblock %}
{% block plugins_javascript %}
    <script type="text/javascript" src="{{ asset('plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.zeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.tableTools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/lang/jquery-datatable.' ~ app.request.locale ~ '.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.datatable.filter.js') }}"></script>
{% endblock %}
{% block level_javascript %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard/table-advanced.js') }}" type="text/javascript"></script>
{% endblock %}
{% block init_javascript %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            TableAdvanced.init();
        });
    </script>
{% endblock %}
{% block page_title %}{{ 'Usuarios' | trans }} <small>{{ 'listado' | trans }}</small>{% endblock %}
{% block breadcrumb_list %}
    {{ parent() }}
    <li>
        <i class="icon-group"></i>
        <a href="{{ path('dashboard_usuario') }}">{{ 'Usuarios' | trans }}</a>
        <span class="icon-angle-right"></span>
    </li>
    <li>
        <i class="icon-th"></i>
        {{ 'Listado' | trans }}
    </li>
{% endblock %}

{% block level_content %}
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption"><i class="icon-group"></i>{{ 'Listado de usuarios' | trans }}</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
            <div class="actions">
                <a class="btn green table-actions-new" href="#">
                    <i class="icon-plus"></i> <span class="hidden-phone">{{ 'Añadir nuevo' | trans }}</span>
                </a>
                <div class="btn-group table-actions-columns hidden-480">
                    <a data-toggle="dropdown" href="#" class="btn">
                        <i class="icon-columns"></i> <span class="hidden-phone">{{ 'Columnas' | trans }}</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right table-column-toggler">
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="0" checked=""></span></div>Code</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="1" checked=""></span></div>Company</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="2" checked=""></span></div>Price</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="3" checked=""></span></div>Change</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body flip-scroll">
            {#<div class="clearfix">#}
                {#<div class="btn-group pull-right">#}
                    {#<button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-wrench hide visible-phone"></i><span class="hidden-phone">{{ 'Herramientas' | trans }}</span> <i class="icon-angle-down"></i>#}
                    {#</button>#}
                    {#<ul class="dropdown-menu pull-right">#}
                        {#<li><a href="#"><i class="icon-print"></i> {{ 'Imprimir' | trans }}</a></li>#}
                        {#<li><a href="#"><i class="icon-save"></i> {{ 'Guardar como PDF' | trans }}</a></li>#}
                        {#<li><a href="#"><i class="icon-download"></i> {{ 'Exportar a Excel' | trans }}</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
            <table class="table table-bordered table-striped table-condensed table-hover table-full-width table-advanced" id="data-table-usuario">
                <thead class="">
                <tr>
                    <th>Code</th>
                    <th class="hidden-480">Company</th>
                    <th class="hidden-480">Price</th>
                    <th class="hidden-480">Change</th>
                    <th class="table-actions-cell"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AAC</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn mini blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn mini green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn mini red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>AAD</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>AAX</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ABC</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ABP</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ABY</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ACR</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ADU</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>AGG</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>AGK</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>AGO</td>
                    <td class="hidden-480">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                    <td class="hidden-480">$1.38</td>
                    <td class="hidden-480">-0.01</td>
                    <td class="">
                        <div class="hidden-print">
                            <a class="btn blue icn-only" href="#"><i class="icon-file icon-white"></i></a>
                            <a class="btn green icn-only" href="#"><i class="icon-edit icon-white"></i></a>
                            <a class="btn red icn-only" href="#"><i class="icon-trash icon-white"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
{% endblock %}