{% extends '::dashboard.html.twig' %}

{% block title %}{{ parent() }} - {{ 'Listado de eventos' | trans }}{% endblock %}
{% block plugins_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/select2/select2_metro.css') }}" />
    <link rel="stylesheet" href="{{ asset('plugins/data-tables/DT_bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-datepicker/css/datepicker.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css') }}" />
{% endblock %}
{% block plugins_javascript %}
    <script type="text/javascript" src="{{ asset('plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.zeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.tableTools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/DT_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/data-tables/lang/jquery-datatable.' ~ app.request.locale ~ '.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    {% if app.request.locale != 'en' %}
        <script type="text/javascript" src="{{ asset('plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('plugins/data-tables/jquery.datatable.filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js') }}"></script>
{% endblock %}
{% block level_javascript %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard/table-advanced.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/dashboard/table-evento.js') }}" type="text/javascript"></script>
{% endblock %}
{% block init_javascript %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            TableAdvanced.init();
            TableEvento.init();
        });
    </script>
{% endblock %}
{% block page_title %}{{ 'Eventos' | trans }} <small>{{ 'listado' | trans }}</small>{% endblock %}
{% block breadcrumb_list %}
    {{ parent() }}
    <li>
        <i class="icon-file-text"></i>
        <a href="{{ path('dashboard_evento') }}">{{ 'Eventos' | trans }}</a>
        <span class="icon-angle-right"></span>
    </li>
    <li>
        <i class="icon-list"></i>
        {{ 'Listado' | trans }}
    </li>
{% endblock %}

{% block level_content %}
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption"><i class="icon-file-text"></i>{{ 'Listado de eventos' | trans }}</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
            <div class="actions">
                <div class="btn-group table-actions-columns hidden-480">
                    <a data-toggle="dropdown" href="#" class="btn">
                        <i class="icon-columns"></i> <span class="hidden-phone">{{ 'Columnas' | trans }}</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right table-column-toggler">
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="0" checked=""></span></div>{{ 'Título' | trans }}</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="1" checked=""></span></div>{{ 'Descripción' | trans }}</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="2" checked=""></span></div>{{ 'Creador' | trans }}</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="3" checked=""></span></div>{{ 'Votaciones' | trans }}</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="4" checked=""></span></div>{{ 'Fecha de fin' | trans }}</label>
                        <label><div class="checker"><span class="checked"><input type="checkbox" data-column="5" checked=""></span></div>{{ 'Traducciones' | trans }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body flip-scroll">
            <table class="table table-bordered table-striped table-condensed table-hover table-full-width table-advanced" id="data-table-evento">
                <thead class="">
                <tr>
                    <th>{{ 'Titulo' | trans }}</th>
                    <th class="hidden-phone">{{ 'Descripción' | trans }}</th>
                    <th class="hidden-phone">{{ 'Creador' | trans }}</th>
                    <th class="hidden-phone">{{ 'Votaciones' | trans }}</th>
                    <th class="hidden-phone">{{ 'Fecha de fin' | trans }}</th>
                    <th class="hidden-phone">{{ 'Traducciones' | trans }}</th>
                    <th class="table-actions-cell"></th>
                </tr>
                <tr class="hidden-phone hidden-print">
                    <th>{{ 'Título' | trans }}</th>
                    <th>{{ 'Descripción' | trans }}</th>
                    <th>{{ 'Creador' | trans }}</th>
                    <th>{{ 'Votaciones' | trans }}</th>
                    <th>{{ 'Fecha de fin' | trans }}</th>
                    <th>{{ 'Traducciones' | trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for obj in list %}
                        {% set etranslations = service_entity.entityTranslations(obj) %}
                        {% set etrans_locale = etranslations[app.request.locale] | default(false) %}
                        <tr class="table-row">
                            <td>{{ app.request.locale == default_locale or not etrans_locale ? obj.titulo : etrans_locale.titulo }}</td>
                            {% set descripcion = app.request.locale == default_locale or not etrans_locale ? obj.descripcion : etrans_locale.descripcion %}
                            <td class="hidden-phone">{{ descripcion | length > 50 ? descripcion | slice(0, 50) ~ '...' : descripcion }}</td>
                            <td class="hidden-phone">
                                {% if obj.creador is not null %}
                                    <a href="{{ path('dashboard_usuario_ver', { 'id': obj.creador.id }) }}" class="block-portlet">{{ obj.creador }}</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="hidden-phone">{{ obj.numeroVotaciones }}</td>
                            <td class="hidden-phone">{{ obj.fechaFin | date(date_format.php | default('d/m/Y')) }}</td>
                            {% set eidiomas = [idiomas[default_locale]] %}
                            {% for locale, idioma in idiomas %}
                                {% if etranslations[locale] is defined %}
                                    {% set eidiomas = eidiomas | merge([idioma]) %}
                                {% endif %}
                            {% endfor %}
                            <td class="hidden-phone">{{ eidiomas | join(', ') }}</td>
                            <td class="" style="max-width: 160px; width: 160px;">
                                <div class="hidden-print">
                                    <a href="{{ path('dashboard_evento_cambiar_estado', { 'id': obj.id }) }}" class="active-toggle-button" title="{{ 'Activar/Desactivar' | trans }}">
                                        <input type="checkbox" class="toggle" {% if obj.activo %}checked="checked"{% endif %} />
                                    </a>
                                    <a class="btn mini blue icn-only block-portlet" href="{{ path('dashboard_evento_ver', { 'id': obj.id }) }}" title="{{ 'Ver' | trans }}"><i class="icon-file icon-white"></i></a>
                                    <a class="btn mini red icn-only table-btn-delete-row ajax-btn" href="{{ path('dashboard_evento_eliminar', { 'id': obj.id }) }}" title="{{ 'Eliminar' | trans }}"><i class="icon-trash icon-white"></i></a>
                                    <input type="hidden" value="{{ loop.index }}" class="table-row-index" />
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <script type="text/javascript">
                        var list_traducciones = [];
                        {% for i in idiomas %}
                            list_traducciones.push('{{ i }}');
                        {% endfor %}
                    </script>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
    <!-- DIALOGS -->
    <div class="confirm_delete hide" title="{{ 'Confirmación' | trans }}" data-for="data-table-evento">
        <p><span class="icon icon-warning-sign"></span>
            {{ 'Está a punto de eliminar un elemento del listado.' | trans }}
            <br/>
            {{ '¿Desea continuar?' | trans }}
        </p>
    </div>
    <!-- END DIALOGS -->
{% endblock %}