<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone">
        </div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="start {% if route_match == 'dashboard_hompage' %}active{% endif %}">
        <a href="{{ path('dashboard_hompage') }}">
            <i class="icon-home">
            </i>
            <span class="title">
                {{ 'Panel de control' | trans }}
            </span>
            {% if route_match == 'dashboard_hompage' %}
                <span class="selected"></span>
            {% endif %}
        </a>
    </li>
    <li class="">
        <a href="{{ path('homepage') }}" target="_blank">
            <i class="icon-external-link">
            </i>
            <span class="title">
                {{ 'Sitio' | trans }}
            </span>
        </a>
    </li>
    <li class="{% if route_match in ['dashboard_usuario', 'dashboard_usuario_ver'] %}active{% endif %}">
        <a href="{{ path('dashboard_usuario') }}">
            <i class="icon-group">
            </i>
            <span class="title">
                {{ 'Usuarios' | trans }}
            </span>
            {% if route_match in ['dashboard_usuario', 'dashboard_usuario_ver'] %}
                <span class="selected"></span>
            {% endif %}
        </a>
    </li>
    <li class="{% if route_match in ['dashboard_categoria', 'dashboard_categoria_nuevo', 'dashboard_categoria_editar', 'dashboard_categoria_ver'] %}active{% endif %}">
        <a href="{{ path('dashboard_categoria') }}">
            <i class="icon-tags">
            </i>
            <span class="title">
                {{ 'Categorías' | trans }}
            </span>
            {% if route_match in ['dashboard_categoria', 'dashboard_categoria_nuevo', 'dashboard_categoria_editar', 'dashboard_categoria_ver'] %}
                <span class="selected"></span>
            {% endif %}
        </a>
    </li>
    <li class="{% if route_match in ['dashboard_evento', 'dashboard_evento_ver'] %}active{% endif %}">
        <a href="{{ path('dashboard_evento') }}">
            <i class="icon-file-text">
            </i>
            <span class="title">
                {{ 'Eventos' | trans }}
            </span>
            {% if route_match in ['dashboard_evento', 'dashboard_evento_ver'] %}
                <span class="selected"></span>
            {% endif %}
        </a>
    </li>
    <li class="last {% if route_match in ['dashboard_candidato', 'dashboard_candidato_nuevo', 'dashboard_candidato_editar', 'dashboard_candidato_ver'] %}active{% endif %}">
        <a href="{{ path('dashboard_candidato') }}">
            <i class="icon-star">
            </i>
            <span class="title">
                {{ 'Candidatos' | trans }}
            </span>
            {% if route_match in ['dashboard_candidato', 'dashboard_candidato_nuevo', 'dashboard_candidato_editar', 'dashboard_candidato_ver'] %}
                <span class="selected"></span>
            {% endif %}
        </a>
    </li>
</ul>