<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone">
        </div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="start active ">
        <a href="{{ path('dashboard') }}">
            <i class="icon-home">
            </i>
            <span class="title">
                {{ 'Panel de control' | trans }}
            </span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="last">
        <a href="{{ path('homepage') }}" target="_blank">
            <i class="icon-share">
            </i>
            <span class="title">
                {{ 'Sitio' | trans }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="icon-shopping-cart">
            </i>
            <span class="title">
                {{ 'Comercio electrónico' | trans }}
            </span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li >
                <a href="#">
                    Viajes
                </a>
            </li>
            <li >
                <a href="#">
                    Electrónica
                </a>
            </li>
            <li >
                <a href="#">
                    Ropa
                </a>
            </li>
            <li >
                <a href="#">
                    Artículos de lujo
                </a>
            </li>
            <li >
                <a href="#">
                    Alimentación
                </a>
            </li>
            <li >
                <a href="#">
                    Vino
                </a>
            </li>
        </ul>
    </li>
</ul>