{% extends '::base-frontend.html.twig' %}
{% block body %}

Estado de la votacion
<br>
<br>
<b id="estado" data-estado="{{ evento.activo ? '0' : '1' }}">{{ evento.activo ? 'Publico' : 'No Publico' }}</b>
<br>
<input data-url="{{ path('frontend_cambiar_estado_evento', {'id':evento.id } ) }}" type="button" class="cambiar_estado" value="Cambiar Estado" />
<br>
<br>
Candidatos Actuales
<br>
<ul>
{% for candidato in evento.candidatos %}
    <li>{{ candidato.titulo }}</li>
{% endfor %}
</ul>
<br>

Agregar Candidato al evento: {{ evento.titulo }}

<h2>Nuevo candidato</h2>
<form class="formulario" action="{{ path('frontend_agregar_candidato') }}" method="post" {{ form_enctype(form) }}>
    <input type="hidden" name="id" value="{{ evento.id }}" />
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="30" align="left" valign="bottom" class="txt_negro12_bold">Titulo</td>
        </tr>
        <tr>
            <td height="30" align="left">{{ form_widget(form.titulo) }}</td>
        </tr>  
        <tr>
            <td height="30" align="left" valign="bottom" class="txt_negro12_bold">Descripcion</td>
        </tr>
        <tr>
            <td height="30" align="left">{{ form_widget(form.descripcion) }}</td>
        </tr>         
        <tr>
            <td height="30" align="left" valign="bottom" class="txt_negro12_bold">Categoria</td>
        </tr>
        <tr>
            <td height="30" align="left">{{ form_widget(form.categoria) }}</td>
        </tr> 
        <tr>
            <td height="30" align="left" valign="bottom" class="txt_negro12_bold">Imagen</td>
        </tr>
        <tr>
            <td height="30" align="left">{{ form_widget(form.imagen) }}</td>
        </tr>         

        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td height="30" align="left"><input name="" type="submit" value="Agregar candidato a votacion" /></td>
        </tr>         
    </table>
    {{ form_widget(form._token) }}    
    {{ form_errors(form) }}
        
</form>

{% endblock %}